@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

media-checkbox {
  font-weight: 500;
  font-size: 14px;
  color: 09090B;
  font-family: "Roboto", sans-serif;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  transistion: all 0.15s ease;
}

media-checkbox:hover {
  opacity: 0.9;
}

.md-checkbox {
  height: 100%;
  width: 100%;
 position: relative;
 display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Input */
.md-checkbox > input {
 appearance: none;
 -moz-appearance: none;
 -webkit-appearance: none;
 z-index: -1;
 position: absolute;
 display: flex;
 margin: 0;
 width: 30px;
 height: 30px;
 background-color: rgba(0, 0, 0, 0);
 box-shadow: none;
 outline: none;
 opacity: 0;
 transform: scale(1);
 pointer-events: none;
 transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.md-checkbox > span {
 width: 30px;
  height: 30px;
 cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Box */
.md-checkbox > span::before {
 content: "";
 display: flex;
 box-sizing: border-box;
 border: solid 1px;
 /* Safari */
 border-color: rgba(94, 94, 94, 0.5);
 border-radius: 5px;
 width: 30px;
 height: 30px;
 vertical-align: top;
 transition: all 0.15s ease;
}

/* Checkmark */
.md-checkbox > span::after {
 content: "";
 display: block;
 position: absolute;
 top: 5px;
 left: 3px;
 width: 15px;
 height: 5px;
 border: solid 2px transparent;
 border-right: none;
 border-top: none;
 transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.md-checkbox > input:checked,
.md-checkbox > input:indeterminate {
 background-color: #000000;
}

.md-checkbox > input:checked + span::before,
.md-checkbox > input:indeterminate + span::before {
 border-color: #000000;
 background-color: #000000;
}

.md-checkbox > input:checked + span::after,
.md-checkbox > input:indeterminate + span::after {
 border-color: #fff;
}

.md-checkbox > input:indeterminate + span::after {
 border-left: none;
 transform: translate(4px, 3px);
}

/* Hover, Focus */
.md-checkbox:hover > input {
 opacity: 0.04;
}

.md-checkbox > input:focus {
 opacity: 0.12;
}

.md-checkbox:hover > input:focus {
 opacity: 0.16;
}

/* Active */
.md-checkbox > input:active {
 opacity: 1;
 transform: scale(1);
 transition: transform 0s, opacity 0s;
}

.md-checkbox > input:checked:active + span::before {
 border-color: rgba(0, 0, 0, 1);
 background-color: rgba(0, 0, 0, 1);
}

/* Disabled */
.md-checkbox > input:disabled {
 opacity: 0;
}

.md-checkbox > input:disabled + span {
 color: rgba(0, 0, 0, 0.38);
 cursor: initial;
}

.md-checkbox > input:disabled + span::before {
 border-color: currentColor;
}

.md-checkbox > input:checked:disabled + span::before,
.md-checkbox > input:indeterminate:disabled + span::before {
 border-color: transparent;
 background-color: currentColor;
}
