@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:where(media-fab-filled),
:where(media-fab-text),
:where(media-fab-outlined) {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px; 
  max-height: 50px; 
  min-width: 50px; 
  max-width: 50px; 
    text-align: center;
    font-size: 14px;
    font-weight: regular;
    border-radius: 5px;
    cursor: pointer;
    text-wrap: nowrap;
    border: none;
    --media-fab-transition: all 0.15s ease;
    --media-fab-transition-opacity: 0.85;
  
    --media-fab-filled-color: #000000;
    --media-fab-filled-handle-color: #F1F1F1;
  
    --media-fab-outlined-color: #ffffff;
    --media-fab-outlined-handle-color: #010101;
    --media-fab-outlined-outline-color: rgba(94, 94, 94, .5);
    --media-fab-outlined-hover-color: #000000;
    --media-fab-outlined-hover-handle-color: #f1f1f1;
    --media-fab-outlined-hover-outline-color: #000000;
  
    --media-fab-text-handle-color: #010101;
    --media-fab-text-hover-color: rgba(220,220,220,.9);
    user-select: none;
}


:where(media-fab-filled svg),
:where(media-fab-text svg),
:where(media-fab-outlined svg) {
    height: 24px;
    width: 24px;
    display: flex;
    color: inherit;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Filled Button */

media-fab-filled {
  display: flex;
    color: var(--media-fab-filled-handle-color);
    background-color: var(--media-fab-filled-color);
}

media-fab-filled:hover,
media-fab-filled:active {
    opacity: var(--media-fab-transition-opacity);
    transition: var(--media-fab-transition);
}

media-fab-text {
    display: flex;
    color: var(--media-fab-text-handle-color);
    background-color: transparent;
}

media-fab-text:hover,
media-fab-text:active {
    background-color: var(--media-fab-text-hover-color);
    transition: var(--media-fab-transition);
}

/* Outlined Button */

media-fab-outlined {
    display: flex;
    color: var(--media-fab-outlined-handle-color);
    background-color: var(--media-fab-outlined-color);
    outline: 1px solid var(--media-fab-outlined-outline-color);
}

media-fab-outlined:hover,
media-fab-outlined:active {
    background-color: var(--media-fab-outlined-hover-color);
    transition: var(--media-fab-transition);
    outline: 1px solid var(--media-fab-outlined-hover-outline-color);
  color: var(--media-fab-outlined-hover-handle-color);
}
