@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

media-search {
    font-family: "Inter", sans-serif;
    max-width: 350px;
    min-width: 350px;
    max-height: 45px;
    min-height: 45px;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: flex;
    border-radius: 9999px;
    font-size: 16px;
    overflow: hidden;
    --media-search-color: #ffffff;
    --media-search-handle-color: #010101;
    --media-search-outline-color: rgba(94, 94, 94, .5);
    background-color: var(--media-search-color);
    outline: 1px solid var(--media-search-outline-color);
    color: var(--media-search-handle-color);
}

media-search svg {
    height: 24px;
    width: 24px;
    color: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 11px;
    margin-right: 11px;
    color: var(--media-search-handle-color);
}

media-search input {
    padding: 1.5px 0px 1px 0px;
    text-align: left;
    background-color: var(--media-search-color);
    outline: none;
    border: none;
    height: 45px;
    min-height: 45px;
    width: calc(100% - 30px);
    cursor: text;
    color: inherit;
    max-width: 100%;
    user-select: none;
    align-items: center;
    display: flex;
    font-size: 16px;
    color: var(--media-search-handle-color);
    line-height: 0px;
    justify-content: flex-start;
    font-weight: 400;
}
